.notepad-dlg-font {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.dialogbox {
  height: 520px;
  width: 438px;
  position: relative;
  margin: 100px auto;
  border: 1px solid #0f7fd6;
  box-shadow: 10px 10px 10px #d6d6d6;
  user-select: none;
  cursor: default;
}
.notepad-dlg-font.show {
  display: block;
}
.notepad-dlg-titlebar {
  height: 30px;
  background-color: #fff;
  font-size: 13px;
}
.zititle{
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}
.close-btn{
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #808080;
  font-size: 14px;
  font-weight: bold;
}
.close-btn:hover {
  background-color: #f11;
  color: #fff;
}
.main {
  height: 466px;
  width: 414px;
  background-color: #f0f0f0;
  padding: 12px;
}
.notepad-dlg-select {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 176px 132px 64px;
  grid-template-rows: 16px 20px 116px;
  grid-gap: 2px 16px;
}
.zibox {
  height: 20px;
  padding-left: 2px;
  border: 1px solid #0078d7;
}
.ullist {
  background-color: #fff;
  border: 1px solid #828790;
  overflow-y: scroll;
}
.list{
  height: 16px;
  line-height: 16px;
  padding-left: 2px;
}
.list.selected {
  background-color: #0078d7;
  color: #fff;
}
.sample {
  width: 200px;
  height: 90px;
  padding: 5px 10px;
  border-color: #fff;
  margin-top: 28px;
  margin-left: 2px;
}
.sample legend {
  background-color: #f0f0f0;
  padding: 0 4px;
}
.script {
  margin-top: 12px;
}
.script select{
  height: 22px;
  width: 214px;
}
.main input[type="button"] {
  position: absolute;  
  bottom: 12px;
  height: 28px;
  width: 86px;
}
.btn-ok {
  right: 110px;
}
.btn-cancel {
  right: 16px;
}
